.header__lang-link {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.17;
    display: flex;
    list-style: none;
    gap: 18px;
    margin: 0;
    padding: 0;
}

.header__lang-link:last-of-type {
    padding-right: 0;
}

@media (max-width: 320px) {
    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
        padding-bottom: 8px;
    }
}